.top-bar, .top-bar ul {
  background: $nav-bg-color;
}

.top-bar {
  border-bottom: 2.7px solid $dark-blue;

  .menu-text {
    color: $logo-color;
  }
 
  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  a {
    color: $white;
  }
}
